<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1014716234727-sst0d6mh7k3drk0nefkmeallpeld8ls0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1014716234727-sst0d6mh7k3drk0nefkmeallpeld8ls0</string>
	<key>API_KEY</key>
	<string>AIzaSyBMGgvcbHtSx4AV_3PyHD51jevFvR6YceQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1014716234727</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.dev.andresimoes.jobTimer</string>
	<key>PROJECT_ID</key>
	<string>job-timer-e2ac1</string>
	<key>STORAGE_BUCKET</key>
	<string>job-timer-e2ac1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1014716234727:ios:e8f8dae92d902286199b42</string>
</dict>
</plist>